// spacing
$spacing-xs: 0.4rem;
$spacing-sm: 0.8rem;
$spacing-ms: 1.2rem;
$spacing-md: 1.6rem;
$spacing-l: 2.4rem;
$spacing-xl: 3.2rem;

// breakpoints
$tabletSmall: "tabletSmall";
$tabletBig: "tabletBig";
$desktopSmall: "desktopSmall";
$desktopBig: "desktopBig";

// divided by 16px (root font-size)
$breakpoints: (
  $tabletSmall: 36em,
  $tabletBig: 48em,
  $desktopSmall: 62em,
  $desktopBig: 75em,
) !default;
