.container {
  display: flex;
  flex-direction: column;
}

.carousel {
  min-width: 25rem;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  max-width: 50rem;
  max-height: 30rem;
  margin: 10rem auto 0;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/images/orionthemes-placeholder-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carouselItemContainer {
  width: 100%;
  height: 100%;
  transition: all 1s;
  white-space: nowrap;
}

.controlCarouselIcon {
  position: absolute;
  //next two lines to center
  top: 50%;
  transform: translateY(-25%);
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    border-radius: 50%;
  }

  &:first-child {
    left: 1rem;
  }

  &:last-child {
    right: 1rem;
  }
}
